<!DOCTYPE html>
 <html>
 <head>
   <title>Grade</title>
 </head>
 <body>
    <p>Grade Analytics</p>
    <div>
        <a href="/getgrades">Get Grades</a>
        </div>
        <hr>
        
        <% if(allgrades!=null) { %>
        <table border="1">
        <tr>
            <th>Top Grade</th>
            <th>Average Grade</th>
            <th>Last Updated</th>
        </tr>
        <tr>
            <td><%= allgrades[0].top_grade %></td>
            <td><%= allgrades[0].avg_grade %></td>
            <td><%= allgrades[0].last_updated %></td>      
        </tr>
        </table>
        <% } %>
</body>
</html>